.centrar{
  display: flex;
  justify-content: center;
}
.btn-2{
  width: 140px;
  border-radius: 15px;
  border: 1px solid black;
}

.triangulo {
     width: 0;
     height: 0;
     border-left: 100px solid #f0ad4e;
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent;
}
=======
.centrar{
  display: flex;
  justify-content: center;
}
.btn-2{
  width: 140px;
  border-radius: 15px;
  border: 1px solid black;
}

.triangulo {
     width: 0;
     height: 0;
     border-left: 100px solid #f0ad4e;
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent;
}
>>>>>>> a3c327e51f0dad9a34249e0077c0bddacf841663
